RSDEPLOY_DEST=host:example.com/path/
RSDEPLOY_SRC=dist
RSDEPLOY_FILTER=.deploy-filter
LITESITE_BUILD_BROTLI=1
LITESITE_BUILD_GZIP=1
LITESITE_BUILD_ZSTD=1
LITESITE_BUILD_MINIFY=1
LITESITE_BUILD_INCLUDES=1
LITESITE_BUILD_AVIF_JPEG=1
LITESITE_BUILD_AVIF_WEBP=1
