# vim: set ft=ruby :
class Hello < Formula
  desc "Just saying hello!"
  version "{{version}}"
  url "{{url}}"
  sha256 "{{sha256}}"
  license "ISC"
  homepage "https://github.com/remino/remutils"

  depends_on "bash"

  livecheck do
    url :stable
    strategy :github_latest
  end

  def install
    bin.install "{{name}}"
  end

  test do
    out = shell_output("#{bin}/{{name}}")
    assert_match "hello", out
  end
end
