# vim: set ft=ruby :
class Vid2gif < Formula
  desc "Convert video files into animated GIFs."
  version "{{version}}"
  url "https://github.com/remino/remutils/releases/download/{{tag}}/{{tag}}.tar.gz"
  sha256 "{{sha256}}"
  license "ISC"
  homepage "https://github.com/remino/remutils"
  {{#revision}}
  revision {{revision}}
  {{/revision}}

  depends_on "bash"
  depends_on "ffmpeg"
  depends_on "imagemagick"

  livecheck do
    url :stable
    strategy :github_latest
  end

  def install
    libexec.install "{{name}}"
    bin.install_symlink libexec / "{{name}}" => "{{name}}"
    bin.install_symlink libexec / "{{name}}" => "movie2gif"
    man1.install "man/{{name}}.1"
  end

  test do
    out = shell_output("#{bin}/{{name}} -v")
    assert_match version.to_s, out
    assert_predicate bin / "movie2gif", :symlink?
  end
end
