# vim: set ft=ruby :
class Cb2pdf < Formula
  desc "Convert .cbz and .cbr comic archives to PDF."
  version "{{version}}"
  url "https://github.com/remino/remutils/releases/download/{{tag}}/{{tag}}.tar.gz"
  sha256 "{{sha256}}"
  license "ISC"
  homepage "https://github.com/remino/remutils"

  depends_on "bash"
  depends_on "7zip"
  depends_on "unar"
  depends_on "img2pdf"

  livecheck do
    url :stable
    strategy :github_latest
  end

  def install
    bin.install "{{name}}"
    man1.install "man/{{name}}.1"
  end

  test do
    out = shell_output("#{bin}/{{name}} -v")
    assert_match version.to_s, out
  end
end
