---
pubname: {{{pubname}}}
date: {{{frontmatterDate}}}
title: {{{title}}}
type: {{{type}}}
catname: {{{catname}}}
{{#subtitle}}
subtitle: {{{subtitle}}}
{{/subtitle}}
{{#kicker}}
kicker: {{{kicker}}}
{{/kicker}}
{{#deck}}
deck: {{{deck}}}
{{/deck}}
{{#description}}
description: {{{description}}}
{{/description}}
{{#summary}}
summary: {{{summary}}}
{{/summary}}
{{#draft}}
draft: true
{{/draft}}
{{#style}}
style: {{{style}}}
{{/style}}
{{#tags}}
tags: {{{tags}}}
{{/tags}}
{{#image}}
image: {{{image}}}
{{/image}}
---

{{{body}}}
