@import '@remino/directive';

main {
	margin-block-end: var(--rmn-ribbon-push, 0px);
}

.code-block {
	margin-block: var(--dress-m-bs) var(--dress-m-be);

	> pre {
		margin-block: 0;
	}
}

.sr-only {
	block-size: 1px;
	border: 0;
	clip: rect(0, 0, 0, 0);
	clip-path: inset(50%);
	inline-size: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
}

.tool-list {
	display: grid;
	gap: var(--dress-g);
	grid-template-columns: repeat(auto-fill, minmax(min(100%, 18rem), 1fr));
	list-style: none;
	padding: 0;
}

.tool-list a {
	display: block;
	height: 100%;
	text-decoration: none;
}

.tool-list strong,
.tool-list span {
	display: block;
}

.tool-list span {
	margin-block-start: var(--dress-m-bs);
}

article {
	margin-inline: auto;
	max-inline-size: 72ch;
}
