---
title: {{{title}}}
date: {{{dateString}}}
{{#original_date}}
original_date: {{{original_date}}}
{{/original_date}}
{{#share_image}}
share_image: {{{share_image}}}
{{/share_image}}
{{#description}}
description: {{{description}}}
{{/description}}
{{#summary}}
summary: {{{summary}}}
{{/summary}}
{{#draft}}
draft: true
{{/draft}}
---

{{{body}}}
