---
title: {{{title}}}
date: {{{dateString}}}
{{#hasOriginalDate}}
original_date: {{{original_date}}}
{{/hasOriginalDate}}
{{#hasShareImage}}
share_image: {{{share_image}}}
{{/hasShareImage}}
{{#hasDescription}}
description: {{{description}}}
{{/hasDescription}}
{{#hasSummary}}
summary: {{{summary}}}
{{/hasSummary}}
{{#hasDraft}}
draft: true
{{/hasDraft}}
---

{{{body}}}
