---
pubname: {{{pubname}}}
date: {{{date}}}
title: {{{title}}}
type: {{{type}}}
catname: {{{catname}}}
{{#hasSubtitle}}
subtitle: {{{subtitle}}}
{{/hasSubtitle}}
{{#hasKicker}}
kicker: {{{kicker}}}
{{/hasKicker}}
{{#hasDeck}}
deck: {{{deck}}}
{{/hasDeck}}
{{#hasDescription}}
description: {{{description}}}
{{/hasDescription}}
{{#hasSummary}}
summary: {{{summary}}}
{{/hasSummary}}
{{#hasDraft}}
draft: true
{{/hasDraft}}
{{#hasStyle}}
style: {{{style}}}
{{/hasStyle}}
{{#hasTags}}
tags: {{{tags}}}
{{/hasTags}}
{{#hasImage}}
image: {{{image}}}
{{/hasImage}}
---

{{{body}}}
