# vim: set ft=ruby :
class Comprose < Formula
  desc "Create and import prose content entries."
  version "{{version}}"
  url "https://github.com/remino/remutils/releases/download/{{tag}}/{{tag}}.tar.gz"
  sha256 "{{sha256}}"
  license "ISC"
  homepage "https://github.com/remino/remutils"

  depends_on "imagemagick"
  depends_on "node"

  def install
    libexec.install Dir["*"]
    cd libexec do
      system "npm", "install", "--omit=dev"
    end

    bin.install_symlink libexec / "{{name}}" => "{{name}}"
    man1.install libexec / "man/{{name}}.1"
  end

  test do
    out = shell_output("#{bin}/{{name}} help")
    assert_match "USAGE:", out
  end
end
